<!DOCTYPE html>
<!-- to com problema pra mexer no docker, me estressei e comecei a fazer em html puro mesmo..... -->
<!-- TODO: Passar essa página pra página de verdade do jogo. -->
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobitos</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <header class="header">
        <div class="jogador-info">
             Jogador: <strong><%= nome %></strong>
        </div>
        <a href="/" class="sair">Sair</a>
        <button id="criar" class="sair">TESTE</button>
    </header>

    <main id="app">    
        <section class="game-area">
            <div class="mensagem-boas-vindas">
                <h1> Bem-vindo ao Lobitos, <%= nome %>!</h1>
                <p> O lobo está à solta...</p>
            </div>
        </section>
        <section id="info" class="geral">
            <h1>Título da sessão</h1>
            <div class="content">
                <img src="https://i.pinimg.com/1200x/5b/49/40/5b49408ec192cad6337b494b5ca4de38.jpg" alt="PLACEHOLDER img duma ovelhade shawn o carneiro fazendo joia">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae elementum nulla. Etiam consequat dictum sem, vel interdum tortor volutpat ac. Donec et dolor sed neque molestie auctor. Nulla faucibus aliquet fringilla. Donec pharetra quam a hendrerit finibus. Sed eget nisl enim. Ut eu ullamcorper sem. Aenean luctus aliquam mauris id lacinia. Sed id efficitur ante. </p>
            </div>
        </section>
        <section id="tutorial" class="geral">
            <h1>Título da outra sessão</h1>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae elementum nulla. Etiam consequat dictum sem, vel interdum tortor volutpat ac. Donec et dolor sed neque molestie auctor. Nulla faucibus aliquet fringilla. Donec pharetra quam a hendrerit finibus. Sed eget nisl enim. Ut eu ullamcorper sem. Aenean luctus aliquam mauris id lacinia. Sed id efficitur ante. </p>
                <img src="https://i.pinimg.com/1200x/5d/7f/04/5d7f04b4d57d2ef99cb3785c1eda755b.jpg" alt="PLACEHOLDER img duma ovelhade shawn o carneiro pensativa">
            </div>
        </section>
    </main>
</body>
</html>